
/* font styling */
/*font-family: 'Abel', sans-serif;*/
/*font-family: 'Anton', sans-serif;*/
/*font-family: 'Merienda', cursive;*/
body {
    background-color: #F0F0F0;
}


nav {
    font-family: 'Abel', sans-serif;
}

h1 {
    font-family: 'Anton', sans-serif;
}

h3 {
    font-family: 'Anton', sans-serif;
}

h4 {
    font-family: 'Anton', sans-serif;
}

h5 {
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 30px;
    font-size: 25px;
}

.big-circles {
    display: flex;
    justify-content: center;
}

.big-red {
    background: #E6563B;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Anton', sans-serif;
    border: solid 10px;
}

.big-orange {
    background: #EB9D3a;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Anton', sans-serif;
    border: solid 10px;
}

.big-green {
    background: #7CB06C;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Anton', sans-serif;
    border: solid 10px;
}

.big-blue {
    background: #00ABA9;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Anton', sans-serif;
    border: solid 10px;
}

.circle-row {
    display: flex;
    justify-content: center;
}

.selected-work {
    font-family: 'Abel', sans-serif;
}

.the-last {
    font-family: 'Abel', sans-serif;
}

.small-circle {
    font-family: 'Abel', sans-serif;
}

.circle-list {
    list-style: none;
}

.small-red {
    background: #E6563B;
    border-radius: 50%;
    width: 18px;
    height: 16px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
}

.small-orange {
    background: #EB9D3a;
    border-radius: 50%;
    width: 18px;
    height: 16px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
}

.small-green {
    background: #7CB06C;
    border-radius: 50%;
    width: 18px;
    height: 16px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
}

.small-blue {
    background: #00ABA9;
    border-radius: 50%;
    width: 18px;
    height: 16px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 10px;
}

.mobile-phone {
    width: 70px;
    height: 70px;
}

.last-tweet {

}

